body {
  padding: 0;
  margin: 0;
}

main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section-header {
  min-height: 100vh;
  background-color: #f4f6f9;
  display: flex;
  position: relative;
}
.section-header .section-inner,
.section-header .section-header {
  width: 40%;
  margin-left: 11%;
}
.section-header .section-inner-logo,
.section-header .section-header-logo {
  display: flex;
  padding-top: 61px;
  align-items: baseline;
}
.section-header .section-inner-logo__title,
.section-header .section-header-logo__title {
  font-family: "Product Sans";
  font-size: 24px;
  line-height: 29px;
  color: #5282f0;
  padding-left: 3px;
}
.section-header .section-inner-content,
.section-header .section-header-content {
  padding-top: 80px;
}
.section-header .section-inner-content__title,
.section-header .section-header-content__title {
  max-width: 120%;
  font-family: "Product Sans";
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  color: #333333;
}
.section-header .section-inner-content__subtitle,
.section-header .section-header-content__subtitle {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #4f4f4f;
}
.section-header .section-inner-button,
.section-header .section-header-button {
  padding-top: 25px;
}
.section-header .section-inner-button__img,
.section-header .section-header-button__img {
  padding-right: 15px;
}
.section-header .section-bg-view {
  max-width: 100%;
}
@media (max-width: 767px) {
  .section-header .section-inner,
  .section-header .section-header {
    width: 100%;
    min-height: 525px;
    margin: 0;
    padding: 32px 20px 59px 20px;
  }
  .section-header .section-inner-logo,
  .section-header .section-header-logo {
    justify-content: center;
    padding: 0;
  }
  .section-header .section-inner-content,
  .section-header .section-header-content {
    text-align: center;
  }
  .section-header .section-inner-content__title,
  .section-header .section-header-content__title {
    font-size: 30px;
  }
  .section-header .section-inner-content p,
  .section-header .section-header-content p {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-header .section-inner-button,
  .section-header .section-header-button {
    text-align: center;
  }
  .section-header .section-inner-button__img,
  .section-header .section-header-button__img {
    padding: 0;
  }
  .section-header .section-bg {
    display: none;
  }
}

.main-video {
  min-height: 592px;
  width: 100%;
  background: linear-gradient(270deg, #ffffff 5.16%, rgba(255, 255, 255, 0) 67.14%), url(./img/bg-video.png) -2% 50% no-repeat;
  background-size: 50% 100%;
  display: flex;
}
.main-video .main-content {
  margin-left: 11%;
  width: 40%;
}
.main-video .main-content-top {
  margin-top: 100px;
  width: 360px;
  height: 168px;
  background: #ffffff;
  box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: absolute;
}
.main-video .main-content-top__text {
  padding-left: 15px;
  display: flex;
}
.main-video .main-content-top__text-first_data {
  font-weight: bold;
  font-size: 16.7833px;
  line-height: 22px;
  color: #4f4f4f;
}
.main-video .main-content-top__text-first_club {
  width: 60%;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.main-video .main-content-top__text-first_mat {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.main-video .main-content-top__icon {
  padding: 37px 0 0px 60px;
}
.main-video .main-content-top__icon-chelsea {
  position: absolute;
}
.main-video .main-content-top__icon-arsenal {
  margin-left: 58px;
  position: absolute;
}
.main-video .main-content-bot {
  background: #eeeeee;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  align-items: baseline;
}
.main-video .main-content-bot p {
  padding: 14px;
  font-family: "Lato", sans-serif;
  font-size: 18.8812px;
  line-height: 25px;
  color: #4f4f4f;
  margin: 0;
}
.main-video .main-content-bot_box {
  padding-left: 33px;
}
.main-video .main-content-bot .switch {
  position: relative;
  display: inline-block;
  width: 27.29px;
  height: 12.58px;
}
.main-video .main-content-bot .switch input {
  display: none;
}
.main-video .main-content-bot .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #979797;
  transition: 0.4s;
}
.main-video .main-content-bot .slider:before {
  position: absolute;
  content: "";
  width: 20.99px;
  height: 20.97px;
  left: -8px;
  bottom: -4px;
  background-color: white;
  transition: 0.4s;
}
.main-video .main-content-bot input:checked + .slider {
  background-color: #2196f3;
}
.main-video .main-content-bot input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.main-video .main-content-bot .slider.round {
  border-radius: 34px;
}
.main-video .main-content-bot .slider.round:before {
  border-radius: 50%;
}
.main-video .main-content .main-content-hide {
  padding-top: 280px;
  padding-left: 106px;
  max-width: 100%;
}
.main-video .main-content-wrapper {
  width: 33%;
  padding-left: 50px;
}
.main-video .main-content-wrapper__title {
  padding-top: 80px;
}
.main-video .main-content-wrapper__title-top {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
}
.main-video .main-content-wrapper__title-main {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}
.main-video .main-content-wrapper__subtitle p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
}
.main-video .main-content-wrapper a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
  text-decoration: none;
}

@media (max-width: 767px) {
  .main-video {
    align-items: center;
    flex-direction: column;
    background-image: none;
  }
  .main-video .main-content {
    width: 100%;
    min-height: 360px;
    background: linear-gradient(270deg, #ffffff 5.16%, rgba(255, 255, 255, 0) 67.14%), url(./img/phone/basket.jpg) 0% 50% no-repeat;
    background-size: 80% 100%;
    margin: 0;
  }
  .main-video .main-content-top {
    width: 247.21px;
    height: 120px;
    margin-left: 20px;
  }
  .main-video .main-content-top__text-first_data {
    font-size: 11px;
    line-height: 15px;
  }
  .main-video .main-content-top__text-first_club {
    font-weight: 500;
    font-size: 12.3539px;
    line-height: 16px;
  }
  .main-video .main-content-top__text-first_mat {
    font-size: 10.9812px;
    line-height: 14px;
  }
  .main-video .main-content-top__icon {
    padding: 13px 0 0px 0px;
  }
  .main-video .main-content-bot p {
    font-size: 12.9587px;
    line-height: 17px;
    padding: 7px;
  }
  .main-video .main-content-bot_box {
    padding-left: 15px;
  }
  .main-video .main-content .main-content-hide {
    padding-top: 200px;
    padding-left: 70px;
    max-width: 70%;
  }
  .main-video .main-content-wrapper {
    order: -1;
    padding: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
  }
  .main-video .main-content-wrapper__title {
    padding: 0;
    margin: 0;
  }
  .main-video .main-content-wrapper__subtitle {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-started {
  background-image: url(./img/bg-phone.svg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-position: center center;
}
.main-started .main-content {
  padding-top: 150px;
  width: 37%;
  margin-left: 11%;
}
.main-started .main-content-wrapper__title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
}
.main-started .main-content-wrapper__titles {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}
.main-started .main-content-wrapper__subtitle p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
}
.main-started .main-content a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
  text-decoration: none;
}
.main-started .phone {
  width: 52%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-started .phone::before {
  content: url(./img/icon/phone.svg);
  position: absolute;
  top: 15%;
  left: 25%;
}
.main-started .phone-img {
  padding: 9% 0 0 23%;
}
.main-started .phone::after {
  content: url(./img/icon/phone1.svg);
  position: absolute;
  bottom: 25%;
  left: 60%;
}

@media (max-width: 767px) {
  .main-started {
    flex-direction: column;
    background-image: none;
  }
  .main-started .main-content {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .main-started .main-content-wrapper_subtitle p {
    margin-left: 10px;
  }
  .main-started .phone {
    margin-top: 50px;
    width: 99%;
    background-image: url(./img/icon/bg-phone.svg);
  }
  .main-started .phone:before {
    content: url(./img/phone/1.svg);
    position: absolute;
    top: 7%;
    left: 4%;
  }
  .main-started .phone-img {
    padding: 0;
    max-width: 90%;
  }
  .main-started .phone::after {
    content: url(./img/phone/2.svg);
    position: absolute;
    bottom: 21%;
    left: 70%;
  }
}
.features {
  background: #00adee;
  background-image: url(./img/bg-blu.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.features-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #ffffff;
  text-align: center;
  padding-top: 76px;
}
.features-box {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-left: 11%;
}
.features-box-block {
  margin-top: 54px;
  width: 25%;
  margin-right: 8%;
}
.features-box-block-text p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 767px) {
  .features {
    background: #ffffff;
    height: auto;
  }
  .features-title {
    color: #000000;
    text-align: center;
    padding-left: 3px;
  }
  .features-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .features-box-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 86.38%;
  }
  .features-box-block-icon svg path {
    fill: #00adee;
  }
  .features-box-block-text P {
    text-align: center;
    color: #4f4f4f;
  }
}
.comment {
  width: 100%;
  min-height: 431px;
}
.comment-title {
  padding-top: 68px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  text-align: center;
  padding-bottom: 60px;
}
.comment-box {
  display: flex;
}
.comment-box_left {
  margin-right: 36px;
}
.comment-box_block,
.comment-box .comment-box_block1,
.comment-box .comment-box_block3 {
  width: 309px;
  height: 161px;
  background: #ffffff;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 36px;
}
.comment-box_block-top,
.comment-box .comment-box_block1-top,
.comment-box .comment-box_block3-top {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.comment-box_block-top p,
.comment-box .comment-box_block1-top p,
.comment-box .comment-box_block3-top p {
  padding-left: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.comment-box_block-top-twiter,
.comment-box .comment-box_block1-top-twiter,
.comment-box .comment-box_block3-top-twiter {
  margin-left: auto;
  margin-right: 13px;
}
.comment-box_block-text::before,
.comment-box .comment-box_block1-text::before,
.comment-box .comment-box_block3-text::before {
  content: url(./img/icon/coment/99.svg);
  position: absolute;
  left: 7%;
}
.comment-box_block-text p,
.comment-box .comment-box_block1-text p,
.comment-box .comment-box_block3-text p {
  padding: 6px 13px 24px 17px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  margin: 0;
}
.comment-box::after {
  content: url(./img/icon/coment/89.png);
  position: absolute;
  right: 13%;
  margin-top: 4%;
}
.comment-eclipse {
  padding-top: 40px;
  display: block;
  margin: auto;
}

@media (max-width: 767px) {
  .comment-box {
    display: contents;
  }
  .comment-box_left {
    display: none;
  }
  .comment-box_block1, .comment-box_block3 {
    display: none;
  }
  .comment-box_block1-text::before, .comment-box_block3-text::before {
    display: none;
  }
  .comment-box_block {
    width: 309px;
    height: 161px;
    margin: auto;
  }
  .comment-box .comment-box_block-text::before {
    display: none;
  }
  .comment-box::after {
    right: 0;
    margin-top: -30%;
  }
}
.partner {
  width: 100%;
  min-height: 278px;
  background: #fafafa;
}
.partner-title {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}
.partner-icon {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.partner-icon .partner-icon-logo:last-child {
  padding: 0;
}

@media (max-width: 767px) {
  .partner {
    width: 100%;
  }
  .partner-title {
    width: 100%;
  }
  .partner-icon {
    min-height: 190px;
    flex-wrap: wrap;
    align-content: space-between;
    padding-bottom: 40px;
  }
  .partner-icon-logo:last-child {
    margin-left: 20px;
  }
}
.footer-download {
  background-color: white;
  min-height: 483px;
  display: flex;
}
.footer-download .footer-bg_img {
  width: 100%;
  height: 100%;
}
.footer-download .footer-content {
  width: 50%;
  padding-top: 100px;
  padding-left: 70px;
}
.footer-download .footer-content-box {
  padding-bottom: 30px;
}
.footer-download .footer-content-box_title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}
.footer-download .footer-content-box p {
  width: 73%;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #4f4f4f;
}
.footer-download .footer-content-button__img {
  padding-right: 15px;
}

@media (max-width: 767px) {
  .footer-download {
    flex-direction: column;
  }
  .footer-download .footer-bg .footer-bg_img {
    max-width: 320px;
  }
  .footer-download .footer-content {
    order: -1;
    padding: 0;
    min-width: 100%;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
  }
  .footer-download .footer-content-box {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-download .footer-content-box p {
    width: 100%;
  }
  .footer-download .footer-content-box_subtitle {
    width: none;
  }
  .footer-download .footer-content-button__img {
    padding: 0;
  }
}
.footer {
  background: #00adee;
  height: 127px;
}
.footer .footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.footer .footer-block-logo {
  display: flex;
}
.footer .footer-block-logo__title {
  padding-left: 3px;
  font-family: "Product Sans";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer .footer-block-menu_text {
  padding-right: 37px;
}
.footer .footer-block-menu a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.footer .footer-block-icon-img {
  padding-right: 17px;
}

@media screen and (max-width: 760px) {
  .footer {
    height: 210px;
  }
  .footer .footer-block {
    flex-direction: column;
    align-items: baseline;
  }
  .footer .footer-block-logo {
    padding-top: 30px;
    padding-left: 20px;
  }
  .footer .footer-block-logo__title {
    margin: 0;
  }
  .footer .footer-block-menu {
    padding-bottom: 50px;
    padding-left: 15px;
    order: 1;
  }
  .footer .footer-block a {
    padding-left: 10px;
    padding-right: 0;
  }
  .footer .footer-block-icon {
    padding-left: 20px;
  }
}
